// change color on click and hover
@mixin interactiveBtns($color){
    &:hover{
        background-color: darken($color: $color, $amount: 10);
    }
    &:active{
        background-color: darken($color: $color, $amount: 25);
    }
}

// color variables
$registerBtnColor: #87cefa;
$loginBtnColor: #f5f5f5;
$authBtnTextColor: #000000;
$headerBackgroundColor: #fff;

header{
    display: flex;
    background-color: $headerBackgroundColor;
    margin-bottom: 10px;
    border-bottom: 10px solid #e7e7e7;
    justify-content: space-evenly;


    .dropdownContainer {
        position: relative;
        display: inline-block;
        margin: 15px;
        &:hover{
            .dropdown-content{
                display:block;
            }
        }
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            right:0;
        }
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
        .dropdown-content a:hover {
            background-color: #f1f1f1
        }
    }

    .logoContainer{
        border: 1px solid black;
    }

    .welcomeMessage{
        margin-left:10px;
    }

    .headerButtonContainer{
        display: flex;
        justify-content: right;

        .loginBtn, .registerBtn{
            color:$authBtnTextColor;
            border: none;
            padding: 10px 15px;
            margin-left: 4px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
            }
    
        .registerBtn{
            background-color: $registerBtnColor;
            @include interactiveBtns($registerBtnColor)
        }
    
        .loginBtn{
            background-color: $loginBtnColor;
            @include interactiveBtns($loginBtnColor)
        }
    }

}