// change color on click and hover
@mixin interactiveBtns($color){
    &:hover{
        background-color: darken($color: $color, $amount: 10);
    }
    &:active{
        background-color: darken($color: $color, $amount: 25);
    }
}

// color variables
$loginBtnColor: #f5f5f5;
$authBtnTextColor: #000000;
$headerBackgroundColor: #fff;

$greyish: #696969;
$blueish: #87cefa;

header{
    display: flex;
    align-items: cetner;
    background-color: $headerBackgroundColor;
    margin-bottom: 10px;
    border-bottom: 5px solid #e7e7e7;

    .headerRight{
        display: flex;
        align-items: center;

        .inboxSvgContainer{
            padding-top: 10px;
            margin-right: 25px;
            &:hover{
                border-bottom:2px solid $greyish;
            }
        }
    }

    .welcomeMessage{
        color: $blueish;
        margin-left:10px;
        padding: 10px;
        &::before{
            color: $greyish;
            content: "Welcome ";
        }
        &::after{
            color: $greyish;
            content: "!";
        }
    }

    .headerButtonContainer{
        padding-right: 10px;
        margin-left: auto;

        .dropdownContainer {
            padding-top: 10px;
            position: relative;
            display: inline-block;
            &:hover{
                .dropdown-content{
                    display:block;
                }
            }
            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
                right:0;
            }
            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                cursor:pointer;
                display: block;
            }
            .dropdown-content a:hover {
                background-color: #f1f1f1
            }
        }
    
        .logoContainer{
            border: 1px solid black;
        }
    
        .loginBtn, .registerBtn{
            color:$authBtnTextColor;
            border: none;
            padding: 10px 15px;
            margin-left: 4px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
            }

        .registerBtn{
            background-color: $blueish;
            @include interactiveBtns($blueish)
        }

        .loginBtn{
            background-color: $loginBtnColor;
            @include interactiveBtns($loginBtnColor)
        }

    }

}