$greyish: #696969;
$blueish: #87cefa;

.listingItemContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 15px;

    .listingLink{
        text-decoration: none;
        color: black;

        .listingItem{
            cursor: pointer;
            display: flex;
            flex-direction: row;
            overflow: hidden;
            width: 400px;
            height: 100px;
            border:1px solid $greyish;
            margin: 10px;
    
            .itemImageContainer{
                width: 100px;
                border-right: 1px solid $greyish;
    
                .itemImage{
                    width: 100%;
                    height: 100%;
                }
            }
    
            .listingTextContainer{
                overflow: hidden;
                margin-left: 15px;
                width: 300px;
                display: grid;
                grid-template-areas: 
                    "title date"
                    "price user";
                    
                .itemTitle{
                    grid-area: title;
                    position: absolute;
                }
    
                .itemDate{
                    grid-area: date;
                    text-align: right;
                    margin-top: 0px;
                    color:$greyish;
                    font-size: 12px;
                }
                
                .itemPrice{
                    grid-area: price;
                    padding-top: 30px;
                    padding-left: 2px;
                }
    
                .itemUser{
                    padding-top: 30px;
                    padding-right: 5px;
                    grid-area: user;
                    text-align: right;
                    color:$greyish;
                }
            }
        }
    }
}

