// change color on click and hover
@mixin interactiveBtns($color){
    &:hover{
        background-color: darken($color: $color, $amount: 10);
    }
    &:active{
        background-color: darken($color: $color, $amount: 25);
    }
}
@mixin responsiveBox {
    @media (max-width:900px) {
        width: 100vw;
    }
}

$greyish: #696969;
$blueish: #87cefa;

.container{
    display:flex;
    justify-content: center;
    overflow:none;

    .backArrowSvg{
        @include interactiveBtns(rgb(231, 231, 231));
        @media (max-width:900px) {
            display:none;
        }
        position: absolute;
        left:0;
        margin: 5px;
    }

    .contentContainer{
        @include responsiveBox();
        border: 1px solid $greyish;
        display:flex;
        background-color: #fff;
        margin-top: 15px;
        height: 95vh;
        width: 60vw;

        .contacts{
            display: flex;
            flex-direction: column;
            width:25%;
            border-right: 1px solid $greyish;

            .contactItem{
                display: flex;
                flex-direction: column;
                justify-content: center;
                overflow: hidden;
                cursor: pointer;
                padding-left: 6px;
                width: 100%;
                height: 75px;
                border-bottom: 1px solid $greyish;
                &:hover{
                    background-color: rgb(247, 247, 247);
                }
                &:active{
                    background-color: rgb(226, 226, 226);
                }

                .contactItemText{
                    font-size: 18px;
                }
            }
        }

        .content{
            display:flex;
            flex-direction: column;
            width: 100%;
            
            .chat{
                padding-left: 8px;
                
                .chatLogs{
                    display:flex;
                    flex-wrap: wrap;
                    
                    .chatLogsSub{
                        color:$greyish;
                        padding-right: 9px;
                    }
                }
            }
            
            .messageBoxContainer{
                margin-top: auto;
                display:flex;
                border-top:1px solid black;
                height: 55px;
                width: 100%;

                .messageBox{
                    display:flex;
                    flex-wrap: nowrap;
                    align-items: center;
                    width: 100%;

                    .messageInput{
                        border:none;
                        font-size:15px;
                        width: 90%;
                        height:100%;
                        margin-right: 5px;
                    }
                }
            }
            


            .composeForm{
                display: flex;
                flex-direction: column;
                width:70%;

                .error{
                    color:red;
                }

                label{
                    padding-top: 15px;
                }
                input{
                    width: 200px;
                }

                .submit{
                    margin-top: 15px;
                    width: 100px;
                    height: 30px;
                }
            }

        }
    }
}

