// change color on click and hover
@mixin interactiveBtns($color){
    &:hover{
        background-color: darken($color: $color, $amount: 10);
    }
    &:active{
        background-color: darken($color: $color, $amount: 25);
    }
}
@mixin responsiveBox {
    @media (max-width:900px) {
        width: 100vw;
    }
}

$greyish: #696969;
$blueish: #87cefa;

.container{
    display:flex;
    justify-content: center;
    overflow:none;

    .backArrowSvg{
        @include interactiveBtns(rgb(231, 231, 231));
        @media (max-width:900px) {
            display:none;
        }
        position: absolute;
        left:0;
        margin: 5px;
    }

    .contentContainer{
        @include responsiveBox();
        border: 1px solid $greyish;
        display:flex;
        background-color: #fff;
        margin-top: 15px;
        height: 95vh;
        width: 60vw;

        .contacts{
            display: flex;
            flex-direction: column;
            width:25%;
            border-right: 1px solid $greyish;

            .contactItem{
                display: flex;
                flex-direction: column;
                justify-content: center;
                overflow: hidden;
                cursor: pointer;
                padding-left: 6px;
                width: 100%;
                height: 75px;
                border-bottom: 1px solid $greyish;

                .contactItemText{
                    font-size: 18px;
                    
                }
            }
        }
        .content{
            width: 100%;
            display: flex;
            justify-content: center;
            padding-top: 15px;

            .composeForm{
                display: flex;
                flex-direction: column;
                width:70%;

                .error{
                    color:red;
                }

                label{
                    padding-top: 15px;
                }
                input{
                    width: 200px;
                }
                .sender{

                }
                .recipient{

                }
                .messageContent{

                }
                .submit{
                    margin-top: 15px;
                    width: 100px;
                    height: 30px;
                }
            }
        }
    }
}

